@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.back-button {
    font-size: 24px;
    color: #1DB954;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 130px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #1DB954;
    border-radius: 5px;
    margin-bottom: 10px;
}

.password-container {
    width: 100%;
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.checkbox-container input {
    margin-right: 8px;
}

.checkbox-container a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}

.register-button {
    width: 100%;
    background-color: #1DB954;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #1DB954;
}

.login-text {
    margin-top: 20px;
    font-size: 14px;
}

.login-button {
    background-color: black;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #1DB954;
    color: #1DB954;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #1DB954;
    color: black;
}

.langSelector {
    width: 100%;
    padding: 10px;
    border: 1px solid #1DB954;
    border-radius: 5px;
    margin-bottom: 15px;
}