@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.logo img {
    width: 260px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #1DB954;
    border-radius: 5px;
    margin-bottom: 15px;
}

.login-button {
    background-color: #1DB954;
    width: 100%;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #1DB954;
}

.register-text {
    margin-top: 10px;
    font-size: 14px;
}

.register-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #1DB954;
    color: #1DB954;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.register-button:hover {
    background-color: #1DB954;
    color: black;
}

select {
    width: 30%;
    padding: 10px;
    border: 1px solid #1DB954;
    border-radius: 5px;
    margin-bottom: 5px;
}
