<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{password.reset.title}">Redefinir Senha - OdontoPrev</title>
    <link rel="stylesheet" href="/css/forgotPassword.css">
    <script src="/js/scripts.js"></script>
</head>
<body>

<div class="container">
    <div class="logo">
        <img src="/images/logo.png" alt="OdontoPrev">
    </div>
    <h2 th:text="#{password.reset.header}">Redefinição de Senha</h2>

    <div th:replace="~{fragments :: langSelector}"></div>

    <form action="#" th:action="@{/auth/forgot-password}" method="post">
        <label for="email" th:text="#{password.reset.label.email}">E-mail:</label>
        <input type="email" id="email" name="email" th:placeholder="#{password.reset.placeholder.email}" required>

        <button type="submit" class="login-button" th:text="#{password.reset.button.submit}">Enviar redefinição</button>
    </form>

    <form action="#" th:action="@{login}" method="post">
        <p class="register-text" th:text="#{password.reset.back.to.login}">Lembrou a senha?</p>
        <button class="register-button" type="submit" th:text="#{password.reset.button.back}">Voltar para login</button>
    </form>
</div>

</body>
</html>
